
@{
    ViewBag.Title = "Index";
}

<h4>Sua mensagem foi enviada com sucesso! Aguarde Contato</h4>

<div class="content">
    
    
        <br/>
        <br/>
        

    <ul>
        <li>@Html.ActionLink("Retornar a tela principal", "Index", "FormularioContato")</li>
    </ul>
    </div>

