

<div id="content">
    <div id="colOne">
        <div id="menu" class="boxed">
            <h2 class="title">Meu Menu</h2>
            <div class="content">
                <ul>

                    <li>@Html.ActionLink("Quem Somos", "About", "Home")</li>
                    <li>@Html.ActionLink("Entrar ou Cadastrar-se", "Login", "Fornecedor")</li>
                    <li>@Html.ActionLink("Contato", "formulario", "FormularioContato")</li>


                </ul>
            </div>
        </div>
        <div class="boxed">
            <h3 class="title">Dica de Ouro</h3>
            <div class="content">
                @*<p><a href="#"><img src="~/Imagens/imgFolhas2.png" alt="" height="150" width="200" /></a></p>*@
                <p>
                    "O hábito faz o monge", ações positivas devem tornar-se
                    hábito pra ser um empreendedor de sucesso. <a href="http://www.novonegocio.com.br/empreendedorismo/dicas-de-empresas-sucesso/">More…</a>
                </p>
            </div>
        </div>
    </div>
    <div id="colTwo" class="boxed">
        <h2 class="title">Seja Bem Vindo!</h2>
        <div class="content">
            <img src="~/Imagens/logoSNome.png" alt="" class="image" height="113" width="150" />
            <p>
                <em><strong>Este Site</strong></em>
                foi desenvolvido para que seu negócio seja
                gerenciado de forma simples e rápida. Assim
                você pode usar o tempo extra para dedicar-se a seus clientes.
                <br />
                <em><strong>Acesse</strong></em> o menu ao lado e confira :)
            </p>
            <p>
                Você faz se cadastro e já te Acesso a todas as ferramentas como:

            </p>
            <ul>
                <li>
                    Cadastro e alteração de produtos que serão vizualizados no Aplicativo
                </li>
                <li>Lista com Nome e Contato de Todos seus Clientes</li>
                <li>Visualizar Pedidos </li>

            </ul>
        </div>
    </div>
</div>
